* {
    box-sizing: border-box;
}

.header {
    border: 1px solid rebeccapurple;
    padding: 15px;
}
.menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid rebeccapurple;
}
.main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid rebeccapurple;
}
img {
    max-width: 100%;
height: auto;
}
@media only screen and (max-width: 600px) {
body {
    background-color: lightgreen;

}}

body {
    background-color: lightblue;
  }
  .topnav a {
      background-color: aquamarine;
      float: left;
      display: block;
      color: coral;
      text-align: center;
padding: 14px 16px;
  }

  .topnav a:hover {
      background-color: gray;
      color: black;
    
  }

  @media screen and (max-width: 880px;) {
      .topnav a {
          float: none;
          display: block;
          text-align: left;
          width: 25%;
          padding: 8px 8px;
      }
  }
